<config>
	<modules>
		<Scriptkid_Infinitescrolling>
			<version>0.1.0</version>
		</Scriptkid_Infinitescrolling>
	</modules>
	<global>
		<helpers>
			<infscroll>
				<class>Scriptkid_Infinitescrolling_Helper</class>
			</infscroll>
		</helpers>
	<!--	<blocks>
			<infscroll>
				<class>Scriptkid_Infinitescrolling_Block</class>
			</infscroll>
		</blocks>-->
	<!--<resources>
			<infscroll_setup>
				<setup>
					<module>Scriptkid_Infinitescrolling</module>
					<class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</infscroll_setup>
			<infscroll_write>
				<connection>
					<use>core_write</use>
				</connection>
			</infscroll_write>
			<infscroll_read>
				<connection>
					<use>core_read</use>
				</connection>
			</infscroll_read>
		</resources>-->
	</global>
	<frontend>
		<layout>
			<updates>
				<infscroll>
					<file>infscroll.xml</file>
				</infscroll>
			</updates>
		</layout>
	</frontend>
</config>
